<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Vin Raia, Bob Nisco, Jason Parraga">
		<meta name="description" content="Marist College Hackathon Spring 2013 Project">

		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/flat-ui.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		<link href='//fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
		<title>MS Hackathon</title>
	</head>

	<body data-spy="scroll" data-target=".navbar" data-offset="46">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Morgan Stanley Hackathon</a></li>
						<li><a href="#game_controls">Game Controls</a></li>
						<li><a href="#total_counts">Current Configuration</a></li>
						<li><a href="#demand_by_region">Demand By Region</a></li>
						<li><a href="#total_profit">Total Profit</a></li>
						<li><a href="#demand_vs_supply">Demand vs. Supply</a></li>
						<li><a href="#error_log">Error Log</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
				{% block content %}
				{% endblock %}
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="span7">
						<h3 class="footer-title">&copy; 2013 Vin Raia, <a href="http://jasonparraga.com">Jason Parraga</a>, <a href="http://bobnisco.com">Bob Nisco</a></h3>
						<p>Built for the Marist College Spring 2013 Hackathon sponsored by Morgan Stanley</p>
						<p><a href="https://github.com/Sovietaced/Morgan-Stanley-Hackathon">Source on GitHub</a> |
							<a href="https://ms-hackathon.herokuapp.com/">Live on Heroku</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="/static/js/jquery.tablesorter.js"></script>
		<script src="/static/js/bootstrap-tooltip.js"></script>
		<script src="/static/js/scrollspy.js"></script>
		<script src="/static/js/highcharts.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
