{% extends "base.html" %}

{% block content %}
        {% for k in turns %}
            {{ k.config.values}}
            <br />
            <br />
            {{k.distribution.values}}
            <br />
            <br />
            {{k.demands.values}}
            <br />
            <br />
            {{k.time}}
            <br />
            <br />
            {{k.profit}}

        {% endfor %}
        <br />
           {% for d in devices %}
               <br />
            {{d }}
        {% endfor %}
<div id="sortable_container">
	<div class="row" id="game_controls">
		<div class="span12">
			<h1>Game Controls</h1>
		</div>
		<div class="span3">
			<a href="#" id="start_game_button" class="btn btn-large btn-block btn-success">Start Game</a>
		</div>
		<div class="span3">
			<a href="#" id="speed_up_button" class="btn btn-large btn-block btn-info disabled twipsy" data-toggle="tooltip" data-original-title="Game must be started first!">Speed Up</a>
		</div>
		<div class="span3">
			<a href="#" id="slow_down_button" class="btn btn-large btn-block btn-info disabled twipsy" data-toggle="tooltip" data-original-title="Game must be started first!">Slow Down</a>
		</div>
		<div class="span3">
			<a href="#" id="stop_game_button" class="btn btn-large btn-block btn-danger disabled twipsy" data-toggle="tooltip" data-original-title="Game must be started first!">Stop Game</a>
		</div>
		<div class="span3">
			<a href="#" id="next_turn_button" class="btn btn-large btn-block">Next Turn</a>
		</div>
		<div class="span3">
			<a href="#" id="resume_game_button" class="btn btn-large btn-block">Resume Game</a>
		</div>
		<div class="response span12"></div>
	</div>
	<div class="row">
		<div class="span6">
			<div id="total_profit" style="width:100%; height:400px;"></div>
		</div>
		<div class="span6">
			<h1>Total Profit</h1>
			<p class="profit">0.00</p>
			<h2>Current Turn</h2>
			<p>Turn #<span class="turn_num">0</span></p>
			<p>Timestamp: <span class="turn_date_time">0</span></p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="total_counts" style="width:100%; height:400px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="demand_by_region" style="width:100%; height:400px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="demand_vs_supply" style="width:100%; height:400px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="span12" id="error_log">
			<h1>Error Log</h1>
			<div class="span3 pull-right"><a href="#" id="clear_error_log_button" class="btn btn-large btn-block">Clear Error Log</a></div>
			<table class="table tablesorter">
				<thead>
					<tr>
						<th>Error</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
